@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: aqua;
    height: 1020px;
    width: 480px;
    border: 1px solid rgb(17, 1, 1);
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    h1 {
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
    }
    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .navbar {
        background-color: rgb(2, 41, 41);
        color: rgb(122, 7, 7);
        height: 60px;
    }
    .navbar a {
        color: rgb(221, 16, 136);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .navbar ul li {
        margin-left: 20px;
    }
    .navbar:hover {
        color: white;
    }
    .navbar ul {
        display: flex;
    }
    .logo {
        font-size: x-large;
        font-weight: bold;
        color: red;
    }
    .navbar .logo {
        font-size: x-large;
        font-weight: bold;
    }
}